body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

header{
    position: fixed;
    width: 100vw;
    background-color: black;
}

#titulo{
    color: white;
    text-align: center;
}

form{
    position: absolute;
    top: 10vh;
    padding: 20px;
}

table{
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}

#agregarEBtn{
    margin: 10px;
    border-radius: 5px;
}

footer{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 10vh;
    top: 90vh;
}

